.container {
  border-color: #ad1a11;
  background: #ad1a11;
  padding: 1rem 3rem;
  cursor: pointer;
  border: none;
  width: max-content;
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 10px 15px;
    font-size: 14px;
  }
}
