.footer {
  background-color: #103962;
  color: #fff;
  margin-top: 100px;
  padding: 70px 0;
}

.container {
  max-width: 1141px;
  margin: 0 auto;
  padding: 0 50px;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.top .left ul li,
.top .middle ul li,
.top .right span {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  cursor: pointer;
}

.header {
  font-size: 30px;
  margin-bottom: 15px;
}

.img {
  width: 120px;
}

.img img {
  cursor: pointer;
}

.imgContainer {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.bottom {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.bottom .left {
  width: 100%;
}

.bottom .left a {
  font-size: 22px;
  font-weight: bold;
}

.bottom .right p {
  font-size: 14px;
  line-height: 1.8;
}

.bottom .right p a {
  font-weight: bold;
}

.mainFooter {
  border-top: 2px solid #39536d;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

.content ul:first-child {
  margin-bottom: 20px;
}

.content ul:last-child {
  font-weight: bold;
}

.content ul {
  display: flex;
}

@media screen and (max-width: 900px) {
  .top {
    justify-content: unset;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 20px;
  }

  .top .left ul li,
  .top .middle ul li,
  .top .right span {
    font-size: 14px;
  }

  .header {
    font-size: 24px;
  }

  .bottom {
    display: flex;
    flex-direction: column;
  }

  .bottom .left a {
    font-size: 16px;
  }

  .mainFooter {
    display: block;
  }

  .member {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
  }

  .content ul {
    width: 100%;
  }

  .content ul li {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 575px) {
  .content ul li {
    font-size: 10px;
  }
}
