.transactionHistory {
  min-height: 100vh;
}

.transactionHistory__container h1 {
  margin-bottom: 20px;
}

.transactionHistory__container h2 {
  text-transform: uppercase;
}

.transactionHistory__table {
  overflow-x: scroll;
}

.transactionHistory__table::-webkit-scrollbar {
  display: none;
}

.transactionHistory thead tr td {
  border: none !important;
  background-color: lightgray;
}

.transactionHistory tbody tr td {
  border: none !important;
}
