.register__nav {
  background-color: #103962;
}

.register__nav__content {
  max-width: 1141px;
  padding: 0 50px;
  margin: 0 auto;
  height: 70px;
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 50px;
}

.register__nav a {
  color: inherit;
}

.register__form {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  margin-top: 30px;
}

.create__account__btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 30px;
}

.create__account__btn button {
  padding: 10px 15px;
  width: 30%;
  cursor: pointer;
  border: none;
  background-color: #2e1a47;
  color: #fff;
}

.prev_button {
  background-color: #ad1a11 !important;
}

@media screen and (max-width: 500px) {
  .register__nav__content {
    padding: 0 20px;
  }
  .create__account__btn button {
    width: unset;
  }
  .register__form {
    padding: 0 20px;
  }
  .form {
    width: 100%;
  }
}
